gunicorn
channels
channels-redis
daphne
whitenoise
redis
django
djangorestframework
djangorestframework-simplejwt
django-crispy-forms
crispy-tailwind
django-cleanup
python-dotenv
pillow
dj-database-url
